<a href="https://colab.research.google.com/github/chacha715/graduate/blob/main/242STG21_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scientific Programming in Python - Introduction

## How to solve these exercises

We use an iPython notebook for all of our exercises. The process is very similar compared to the live coding sessions, but instead of repeating what we do in front of the class we already made a notebook for you that you can complete yourself.

We have classified exercises according to their difficulty as **Basics**, **Medium** and **Involved**. Make sure you do at least the **Basics** exercises for each topic and the **Medium** if you can, but don't worry if you get stuck on the **Involved** ones.

If you have questions, just approach one of the tutors.

### Problem 1. Convert imperial to metric

Write a formula to convert a weight from pounds into kilograms.

>**(a)** Modify the code in the following cell in such a way that it calculates the corresponding kilogram weight. Remember that all text to the right of a ‘#’ character is a comment that is ignored by python.

In [ ]:
weight_lbs = 138.0 # in pounds
weight_kg = weight_lbs * 0.45
print('Weight in kilograms: ' + str(weight_kg))

Weight in kilograms: 62.1

>**(b)** To get your program to ask you for a value and get a variable that contains that value, use the function <code>raw_input()</code>. This function will return a string and so you will have to convert it to a number using the function <code>float()</code>. Modify the the following cell so that it asks you for a weight in pounds. When you run it in ipython, it should work like this:

Enter weight in pounds: 138.0
Weight in kilograms: 62.1

In [ ]:
weight_lbs = float(input("무게를 pound 단위로 입력하시오: ")) # raw_input()은 python 3.x에서 사라짐
weight_kg = weight_lbs * 0.45
print('Weight in kilograms: ', weight_kg)

무게를 pound 단위로 입력하시오: 40
Weight in kilograms:  18.0

>**(c)** This program should convert Farenheit to Celcius, but there are two bugs in the code. Figure out what they are and fix them so that it converts Farenheit to Celcius.
(Hint: if you are having trouble, break up the formula into multiple steps and put a ‘print’ statement after each one so you can see the result of the step. Make sure each of the steps are doing what you think they should do.)

In [ ]:
temp_far = float(input('Enter a temperature in Farenheit: '))
temp_cel = 5/9 * (temp_far - 32)
print('Temperature in Celcius: ' + str(temp_cel))

Enter a temperature in Farenheit: 50
Temperature in Celcius: 10.0

>**(d)** Convert the programs used in (b) and (c) in such a way that they use functions

In [ ]:
# Complete this function:

def lb_to_kg(lb):
    """무게를 pound(lb)로 입력하면 kg 반환"""
    kg = lb * 0.45
    return kg

def cel_to_far(cel):
    """온도를 celcius(cel)로 입력하면 fahrenheit(far) 반환"""
    far = 9/5 * cel + 32
    return far

In [ ]:
lb_to_kg(40)

18.0

In [ ]:
cel_to_far(10)

50.0

### Problem 2. A little bit of math

The following code asks you to enter three numbers and then finds the mean of those numbers.

In [ ]:
x1 = float(input('Enter the first number: '))
x2 = float(input('Enter the second number: '))
x3 = float(input('Enter the third number: '))
xhat = (x1 + x2 + x3) / 3.0
print(xhat)

Enter the first number: 3
Enter the second number: 5
Enter the third number: 1
3.0

>**(a)** Modify this code so that it prints the mean on the first line of its output and prints the standard deviation of the three numbers on the second line of its output. Remember that the standard deviation of a sample $x_1,x_2,\ldots,x_n$ with sample mean $\hat{x}=\sum_{i=1}^n x_i/n $ is defined to be:

<center>$ s = \sqrt{\displaystyle\frac{1}{n-1}\displaystyle\sum_{i=1}^n(x_i - \hat{x})^2}$</center>

>The program should work like this when run:

In [ ]:
from math import sqrt
x1 = float(input('Enter the first number: '))
x2 = float(input('Enter the second number: '))
x3 = float(input('Enter the third number: '))

xhat = (x1+x2+x3) / 3.0
print('Mean: ', xhat)

def simple_stdev(x1, x2, x3):
    '''This calculates the standard deviation for three numbers'''
    std = sqrt(1/2.0 * ((x1-xhat)**2 + (x2-xhat)**2 + (x3-xhat)**2))
    print('Standard deviation: ', std)
    pass

simple_stdev(x1, x2, x3)

Enter the first number: 3
Enter the second number: 5
Enter the third number: 1
Mean:  3.0
Standard deviation:  2.0

Enter the first number: 3
Enter the second number: 7
Enter the third number: 29
13.0
14.0

>**Hint:** If you are having trouble, write out the standard deviation in the equation above for $n=3$ because in this example there are three samples (don't expand the squares). Then, make a new line of code where you assign a variable called $s$ to the equation you wrote out. To translate the standard deviation formula into code, $x_1,x_2$ and $x_3$ should be written as $x1$, $x2$ and $x3$. The expression $(x_1-\hat{x})^2$ should be written as $(x1 - xhat)**2$. When you want to write the square root of something, you have to put it <code>sqrt(here)</code> inside brackets. If you are using ipython, then <code>sqrt()</code> is automatically loaded in the interpreter. Otherwise, you have to import it like this:

In [ ]:
from math import sqrt

### Problem 3. Calculator

Let’s now try our hands on computing some miscellaneous quantities.

>**(a)** The perimeter and area of a circle.

In [ ]:
from math import pi

In [ ]:
radius = 5.
circle_perimeter = 2. * pi * radius
circle_area = pi * radius**2

print('A circle of radius ' + str(radius) + ' has a perimeter of ' +
   str(circle_perimeter) + ' and an area of ' + str(circle_area))

A circle of radius 5.0 has a perimeter of 31.41592653589793 and an area of 78.53981633974483

>**(b)** The golden ratio.

In [ ]:
# https://ko.wikipedia.org/wiki/%ED%99%A9%EA%B8%88%EB%B9%84
# 황금비 공식

golden_ratio = (1. + sqrt(5)) / 2
print('The golden ratio is equal to ' + str(golden_ratio))

The golden ratio is equal to 1.618033988749895

>**(c)** The height, volume and area of a **regular** pentagonal pyramid.

In [ ]:
# https://ko.wikipedia.org/wiki/%EC%98%A4%EA%B0%81%EB%BF%94
# 오각뿔 공식

side_length = 2.
pyramid_height = sqrt((5 - sqrt(5)) / 10) * side_length
pyramid_area = (sqrt(25. + 10. * sqrt(5)) / 4. + 5 * sqrt(3.)/4.) * side_length**2.
pyramid_volume = ((5. + sqrt(5)) / 24) * side_length**3.
print('A regular pentagonal pyramid of side length ' + str(side_length) + ' has a height of ' + \
        str(pyramid_height) + ', an area of ' + str(pyramid_area) + ' and a volume of ' +
        str(pyramid_volume) + '.\nInteresting, I suppose.')

A regular pentagonal pyramid of side length 2.0 has a height of 1.0514622242382672, an area of 15.542163640200254 and a volume of 2.4120226591665967.
Interesting, I suppose.

>**(d)** The fractal dimension (Hausdorff dimension) of a Sierpinski Dodecahedron. Is it larger or smaller than the fractal dimension of a cauliflower?

In [ ]:
from math import log

In [ ]:
# https://en.wikipedia.org/wiki/List_of_fractals_by_Hausdorff_dimension
# 프랙탈 설명

dodecahedron_fractal_dimension = log(20) / log(2. + golden_ratio)
cauliflower_fractal_dimension = log(13) / log(3) ## 3D quadratic Koch surface (type 1)

print('A Sierpinski Dodecahedron has a fractal dimension of ' +
        str(dodecahedron_fractal_dimension) + ', how intriguing!')
print('A cauliflower has a fractal dimension of ' + str(cauliflower_fractal_dimension))

if dodecahedron_fractal_dimension > cauliflower_fractal_dimension:
    print('The dodecahedron wins.')
else:
    print('The cauliflower wins. Obviously.')

A Sierpinski Dodecahedron has a fractal dimension of 2.329621716170345, how intriguing!
A cauliflower has a fractal dimension of 2.3347175194727927
The cauliflower wins. Obviously.

>**Hints:** The use of Wikipedia to refresh your memory is completely encouraged. All the mathematic formulae that you’ll need are in the module math. Either check online (http://docs.python.org/library/math.html) or by importing the module and looking for its content using ipython:

In [ ]:
import math

### Problem 4. Strings manipulation

We will now try a few functions from the standard library for strings. Everything you need should be available in the string module.

>**(a)** Find the functions to transform the following string into: lowercase, uppercase, sentence- case (first letter of first word is capitalized).

In [ ]:
import string

message = "uSiNg aPPrOpRiAtE cApiTaLISAtiOn iS iMpOrTaNt fOr yOuR rEaDerS' SANity"
lowercased = message.lower()
uppercased = message.upper()
sentencecased = message.capitalize()

print(message + '\n' + lowercased + '\n' + uppercased + '\n' + sentencecased)

uSiNg aPPrOpRiAtE cApiTaLISAtiOn iS iMpOrTaNt fOr yOuR rEaDerS' SANity
using appropriate capitalisation is important for your readers' sanity
USING APPROPRIATE CAPITALISATION IS IMPORTANT FOR YOUR READERS' SANITY
Using appropriate capitalisation is important for your readers' sanity

>**Hints:** Read the string module documentation carefully! https://docs.python.org/2/library/string.html Functions sometimes have similar names, but do different things!

>**(b)** Find how to align some text to the left, the right or to the center of a string of known fixed width. This could be useful to align your table in the next problem for example.

In [ ]:
import string
# Question (b)
text = 'align me'
width = 20
stars = '*'*width
text_left   =  str.ljust(text, width)
text_right  =  str.rjust(text, width)
text_center =  str.center(text, width)

print('I want this aligned properly! ' + '\n' + stars + '\n' + text_left + '\n' +
        text_right + '\n' + text_center + '\n' + stars)

I want this aligned properly!
********************
align me
            align me
      align me
********************

>**(c)** Enforce the correct spelling of Python. It is not “Pyhton”, “python” or “pythons”. (Hint: you can chain multiple function calls: the output of one function can be the input of another one)

In [ ]:
# Question (c)
email = "Scientific Programming in Pyhton: The student will be able to write simple programs in pythons."
corrected = str.replace(str.replace(email, 'Pyhton', 'Python'), 'pythons', 'Python')
print(email + '\n' + corrected)

def spellchecker(email):
  corrected_email = []
  email = email.split()
  for i, word in enumerate(email):
    if email[i] == "pythons.":
      email[i] = "Python."
    elif email[i] == "Pyhton:":
      email[i] = "Python:"
    corrected_email.append(email[i])
  corrected_email = " ".join(corrected_email)
  print(corrected_email)
  pass

spellchecker(email)

Scientific Programming in Pyhton: The student will be able to write simple programs in pythons.
Scientific Programming in Python: The student will be able to write simple programs in Python.
Scientific Programming in Python: The student will be able to write simple programs in Python.

>**(d)** Do what Python is doing to your code: remove everything after the first “#” you find on a line. Also remove all trailing (e.g. at the end) whitespaces.

In [ ]:
line = "print 'I quite like Python already!'  # Actually, I just want easy credits"
no_comments = line.split()
del no_comments[6:]
del no_comments[0]
no_comments = " ".join(no_comments)
text.strip()
print(line + '\n' + no_comments)

print 'I quite like Python already!'  # Actually, I just want easy credits
'I quite like Python already!'

### Problem 5 *Basics*: Alphabet
In this problem we’ll recap basic list methods, using the alphabet

>**(a)** We’ll first start by making a list each of the upper and lower case letters in the English alphabet:

In [ ]:
import string

uc = list(string.ascii_uppercase)
lc = list(string.ascii_lowercase)
print("uc = ", uc , '\n', "lc = ", lc)

# The result should look like this:
# uc = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O',
#       'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
# lc = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o',
#       'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

uc =  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
 lc =  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

>**(b)** Blank your full name from both lists, using a ```for``` loop (it's easiest to first concatenate them):

In [ ]:
# Hint: For each item in the list, check whether it is in the name

full = uc + lc
name = "Minkyoung Cha"

for i in range(len(full)):
  if full[i] in name:
    full[i] = '*'

print(full)

# The result should look like this if you blank "Jeremy Bentham":
# ['A', '*', 'C', 'D', 'E', 'F', 'G', 'H', 'I', '*', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
#  'U', 'V', 'W', 'X', 'Y', 'Z', '*', 'b', 'c', 'd', '*', 'f', 'g', '*', 'i', 'j', 'k', 'l', '*', '*',
#  'o', 'p', 'q', '*', 's', '*', 'u', 'v', 'w', 'x', '*', 'z']

['A', 'B', '*', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', '*', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '*', 'b', 'c', 'd', 'e', 'f', '*', '*', '*', 'j', '*', 'l', 'm', '*', '*', 'p', 'q', 'r', 's', 't', '*', 'v', 'w', 'x', '*', 'z']

>**(c)** Sort the list and remove the leading blanks:

> Hint: print each letter along with its index; you can then create a new list with a ```slice```

In [ ]:
full_sorted = sorted(full)

for index, letter in enumerate(full_sorted):
  print(index, letter)

full_removed = full_sorted[11:]
print(full_removed)

# The result should look like this:
# blanks_removed = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R',
#                   'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'b', 'c', 'd', 'f', 'g', 'i', 'j', 'k',
#                   'l', 'o', 'p', 'q', 's', 'u', 'v', 'w', 'x', 'z']

0 *
1 *
2 *
3 *
4 *
5 *
6 *
7 *
8 *
9 *
10 *
11 A
12 B
13 D
14 E
15 F
16 G
17 H
18 I
19 J
20 K
21 L
22 N
23 O
24 P
25 Q
26 R
27 S
28 T
29 U
30 V
31 W
32 X
33 Y
34 Z
35 b
36 c
37 d
38 e
39 f
40 j
41 l
42 m
43 p
44 q
45 r
46 s
47 t
48 v
49 w
50 x
51 z
['A', 'B', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'b', 'c', 'd', 'e', 'f', 'j', 'l', 'm', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'z']

>**(d)** Try doing all of (a),(b) and (c) using a single list comprehension:

In [ ]:
# Hint: you will need a conditional statement in your list comprehension. The result should look the same as in (c)

blanks_removed = [letter for letter in list(string.ascii_uppercase) + list(string.ascii_lowercase) if letter not in 'Minkyoung Cha']
print(blanks_removed)

#We’ll first start by making a list each of the upper and lower case letters in the English alphabet:
#Blank your full name from both lists, using a for loop (it's easiest to first concatenate them):
#Sort the list and remove the leading blanks:

['A', 'B', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'b', 'c', 'd', 'e', 'f', 'j', 'l', 'm', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'z']

### Problem 6 *Medium*: Multiplication Table
In this problem we’ll use for-loops, some lists and control how values are printed on screen, to produce a full multiplication table (from 1 to 12). https://en.wikipedia.org/wiki/Multiplication_table

>**(a)** We’ll first start by creating the multiplication table for the number 2, i.e. what you get when you multiply the numbers from 1 to 12 by 2. Use a for-loop:

In [ ]:
max_time = 12
number = 2

times_2 = []
for i in range(max_time):
  times_2.append(number*(i+1))

print(times_2)

# times_2 should now be [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

>**Hint:** remember that <code>range(x)</code> starts at 0 and finishes at $(x − 1)$. Give it 2 parameters to control where it should start at.)

>**(b)** Now we’ll just format the result so that it looks nicer. Write code to automatically convert times_2 into the following string (separate with spaces):

2 | 2 4 6 8 10 12 14 16 18 20

In [ ]:
# Your code here

times_2_str = ' '.join(str(s) for s in times_2)

print(times_2_str)

2 4 6 8 10 12 14 16 18 20 22 24

>**(c)** We’ve actually already generated one line of our full table. You could just copy and paste your code and change the loop to get all the lines from 1 to 12, but you might make a mistake, or you might want to get lines from 1 to 1000. Looking at your code, if you change the <code>number</code> variable it should create the correct line for the value contained in <code>number</code>. So we just have to loop over the values of 1 to 12 for this <code>number</code> variable.
This is called nested loops, and you’ll use nested loops over and over again in your programs. Simply put another loop into your loop (make sure that you give the iterating variable a different name for each loop). What does the following piece of code do? Write down what you think the output would be if <code>max\_time</code> contained the value 4 and then set <code>max\_time</code> to 4 and run this piece of code and make sure you were right.

In [ ]:
for i in range(max_time):
    for j in range(max_time):
        print(i, j)

In [ ]:
max_time = 4

for i in range(max_time):
    for j in range(max_time):
        print(i, j)
# max_time을 4로 설정하였기에 range(max_time)이 0~3의 수가 되어 (i, j) 순서쌍이 4*4의 16개가 출력되었다.

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

>**(d)** Using nested loops, create all the lines of the times table, for all numbers between 1 and 12. Use the same format as in part (b). Create two more lines on top to put the label of each column. You should get the following output:

 1 2 3 4 5 6 7 8 9 10 11 12
------------------------------
1 | 1 2 3 4 5 6 7 8 9 10 11 12
2 | 2 4 6 8 10 12 14 16 18 20 22 24
3 | 3 6 9 12 15 18 21 24 27 30 33 36
4 | 4 8 12 16 20 24 28 32 36 40 44 48
5 | 5 10 15 20 25 30 35 40 45 50 55 60
6 | 6 12 18 24 30 36 42 48 54 60 66 72
7 | 7 14 21 28 35 42 49 56 63 70 77 84
8 | 8 16 24 32 40 48 56 64 72 80 88 96
9 | 9 18 27 36 45 54 63 72 81 90 99 108
10 | 10 20 30 40 50 60 70 80 90 100 110 120
11 | 11 22 33 44 55 66 77 88 99 110 121 132
12 | 12 24 36 48 60 72 84 96 108 120 132 144

In [ ]:
max_time = 12
number = 1

def print_header(max_time):
  header = "  "
  for i in range(1, max_time+1):
    header = header + str(i) + "     "
  print(header)
  print("  " + "------" * max_time)

def row(number, max_time):
  row = []
  for i in range(1, max_time+1):
    row.append(number*i)
  return row

def print_row(row):
  row_string = str(row[0]) + "|"
  for i in row:
    row_string = row_string + str(i) + "    "
  print(row_string)


def times_table(max_time):
  print_header(max_time)
  for i in range(1, max_time+1):
    print_row(row(i, max_time))
    pass


times_table(12)

  1     2     3     4     5     6     7     8     9     10     11     12
  ------------------------------------------------------------------------
1|1    2    3    4    5    6    7    8    9    10    11    12
2|2    4    6    8    10    12    14    16    18    20    22    24
3|3    6    9    12    15    18    21    24    27    30    33    36
4|4    8    12    16    20    24    28    32    36    40    44    48
5|5    10    15    20    25    30    35    40    45    50    55    60
6|6    12    18    24    30    36    42    48    54    60    66    72
7|7    14    21    28    35    42    49    56    63    70    77    84
8|8    16    24    32    40    48    56    64    72    80    88    96
9|9    18    27    36    45    54    63    72    81    90    99    108
10|10    20    30    40    50    60    70    80    90    100    110    120
11|11    22    33    44    55    66    77    88    99    110    121    132
12|12    24    36    48    60    72    84    96    108    120    132    144

>**Hint**: Generate a line for each line, and print it only when it’s complete. You actually do not need to create the intermediate list anymore, you can generate the string for the current line directly

>**(e)** As you can see, our table is not well-aligned. We really need to enforce a minimum “size” used by each number. We can do that easily by putting spaces around the numbers when they are too short. Modify the code for your multiplication table so that the columns of the table it prints are aligned. Hint: the code <code>len(str(n)) == 1</code> will be <code>true</code> if the number contained in the variable n is one digit long.
Correct your code to get the following output:

        1    2    3    4    5    6    7    8    9   10   11   12
    ------------------------------------------------------------------------
 1 |    1    2    3    4    5    6    7    8    9   10   11   12
 2 |    2    4    6    8   10   12   14   16   18   20   22   24
 3 |    3    6    9   12   15   18   21   24   27   30   33   36
 4 |    4    8   12   16   20   24   28   32   36   40   44   48
 5 |    5   10   15   20   25   30   35   40   45   50   55   60
 6 |    6   12   18   24   30   36   42   48   54   60   66   72
 7 |    7   14   21   28   35   42   49   56   63   70   77   84
 8 |    8   16   24   32   40   48   56   64   72   80   88   96
 9 |    9   18   27   36   45   54   63   72   81   90   99  108
10 |   10   20   30   40   50   60   70   80   90  100  110  120
11 |   11   22   33   44   55   66   77   88   99  110  121  132
12 |   12   24   36   48   60   72   84   96  108  120  132  144

>**Hint:** Remember the <code>ljust(), rjust()</code> and <code>center()</code>functions!

In [ ]:
# Your code here

max_time = 12
number = 1

def print_header(max_time):
  header = "   "
  for i in range(1, max_time+1):
    header = header + str(i).rjust(3) + " "
  print(header)
  print("  " + "----" * max_time)

def row(number, max_time):
  row = []
  for i in range(1, max_time+1):
    row.append(number*i)
  return row

def print_row(row):
  row_string = str(row[0]).rjust(2) + "|"
  for i in row:
    row_string = row_string + str(i).rjust(3) + " "
  print(row_string)


def times_table(max_time):
  print_header(max_time)
  for i in range(1, max_time+1):
    print_row(row(i, max_time))
    pass


times_table(12)

     1   2   3   4   5   6   7   8   9  10  11  12
  ------------------------------------------------
 1|  1   2   3   4   5   6   7   8   9  10  11  12
 2|  2   4   6   8  10  12  14  16  18  20  22  24
 3|  3   6   9  12  15  18  21  24  27  30  33  36
 4|  4   8  12  16  20  24  28  32  36  40  44  48
 5|  5  10  15  20  25  30  35  40  45  50  55  60
 6|  6  12  18  24  30  36  42  48  54  60  66  72
 7|  7  14  21  28  35  42  49  56  63  70  77  84
 8|  8  16  24  32  40  48  56  64  72  80  88  96
 9|  9  18  27  36  45  54  63  72  81  90  99 108
10| 10  20  30  40  50  60  70  80  90 100 110 120
11| 11  22  33  44  55  66  77  88  99 110 121 132
12| 12  24  36  48  60  72  84  96 108 120 132 144

### Problem 7. Pascal’s triangle

This is a slight variation on the previous exercise. The goal is to generate [Pascal's Triangle](http://en.wikipedia.org/wiki/Pascal's_triangle):

<p><center><a href="http://commons.wikimedia.org/wiki/File:PascalTriangleAnimated2.gif#mediaviewer/File:PascalTriangleAnimated2.gif"><img src="http://upload.wikimedia.org/wikipedia/commons/0/0d/PascalTriangleAnimated2.gif" alt="PascalTriangleAnimated2.gif"></a></center></p>

The rules to generate the triangle are quite simple:

* Each number is the sum of the two just above it, the above-left and the above-right one. (e.g. 5 on the last line is 1 + 4).
* The top and sides of the triangle are initialised with 1s.

>**(a)** For this exercise, we’ll use a 2D list. This is really just a list of list, think of it like a matrix (or an Excel spreadsheet if you hate matrices). Example of usage:

In [ ]:
list_list = [[1], [2, 3], [4, 5]]
list_list[0]
[1]
list_list[0][0]
1
list_list[1][1]
3
list_list[2].append(6)
list_list

[[1], [2, 3], [4, 5, 6]]

>Let’s first start by generating a 2D list with the exact same structure as Pascal’s triangle (we’ll compute the correct values later, let’s fill it up with 1’s for now). We need to generate a list of lists with 1 element in the first list, 2 elements in the second list, 3 on the third list, etc... Modify the following code, using nested loops, to create the correct result:

In [ ]:
####
# Pascal's Triangle
#
#  Create and print Pascal's triangle
####

number_lines = 5

# Part (a)
triangle = [[1]]
for i in range(1, number_lines):
  triangle.append([])
  for j in range(i+1):
    triangle[i].append(1)

print(triangle)
# Should get [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]

[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]

>**Hint:** remember range iterates up to a variable’s value

>**(b)** Write some code to print your 2D list as a triangle! Where are the above-left and above-right items associated with each element in this view? This is relevant, as it corresponds exactly to accessing the items of your triangle with indices.

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
# Your code here

# a) prompt the user
n = 5

# b) allocate a 2d triangular list
triangular = [ [0]*(i+1) for i in range(n) ]

# c) nested loops
for i in range(n):
    for j in range(i+1):
        triangular[i][j] = triangle[i][j]

# d) print the list
for row in triangular: print(*row)

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

>**(c)** Now modify your code to get the actual values of Pascal’s triangle. Remember you can access elements you already generated in a previous iteration of the for-loop (e.g. <code>triangle[i-1][j]</code>). You will have to be careful about accessing numbers that do not exist, add if-statements to handle special cases.
(**Hint:** When you try to access the “above-right” element, you can compare i and j to figure out whether or not it exists)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
# Your code here

triangle = [[1]]
for i in range(1, number_lines):
  triangle.append([])
  for j in range(i+1):
    if j == 0 or j == i:
      triangle[i].append(1)
    else:
      triangle[i].append(triangle[i-1] [j-1] + triangle[i-1] [j])

print(triangle)

for i in range(n):
    for j in range(i+1):
        triangular[i][j] = triangle[i][j]

for row in triangular: print(*row)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

>**(d)** (advanced) Now modify the code printing your triangle to make it actually look just like the triangle shown at the start of the problem.
You’ll have to adjust the space used by each element again, just like for the times table.

           1
         1   1
       1   2   1
     1   3   3   1
   1   4   6   4   1
 1   5   10  10  5   1

In [ ]:
# Your code here

pretty_triangle = []

for line in triangle:
  items = []
  for item in line:
    items.append(str(item).center(3))
  pretty_triangle.append(''.join(items).center(3*5))

for row in pretty_triangle:
  print(row)

       1
      1  1
    1  2  1
   1  3  3  1
 1  4  6  4  1

### Problem 7. Scrolling display

This exercise will get you to play with strings and indices. The goal is to create a simulation of a dot-matrix display, and scroll some text through it. Remember how your cheap alarm-clock shows time? That’s a dot-matrix display. We want to get something like that: http://www.youtube.com/watch?v=vWFPXTyoZCA

>**(a)** We start easy, and just try to scroll some text directly. Complete the following code in order to print only display_width characters of the message.
Here, we use an infinite loop (this is a big source of errors, but sometimes useful. Stop your program by pressing CTRL-C), so we have to increment curr_start manually. Make sure to verify that it doesn’t go beyond the overall length of the message.

In [ ]:
len('This is a completely relevant ')

30

In [ ]:
message = 'This is a completely relevant exercise'
display_width = 30

# Get the message length
message_length = len(message)
curr_start = 0

# while True:
for k in range(19):
  display = []
  for i in range(curr_start, display_width):
    if i < len(message):
      display.append(message[i])
  print(''.join(display))
  curr_start = curr_start + 1
  display_width = display_width + 1

# Grab the important part of the message display = '' # ... Replace me
         # Show the results
# print(display)
# Complete me...

This is a completely relevant
his is a completely relevant e
is is a completely relevant ex
s is a completely relevant exe
 is a completely relevant exer
is a completely relevant exerc
s a completely relevant exerci
 a completely relevant exercis
a completely relevant exercise
 completely relevant exercise
completely relevant exercise
ompletely relevant exercise
mpletely relevant exercise
pletely relevant exercise
letely relevant exercise
etely relevant exercise
tely relevant exercise
ely relevant exercise
ly relevant exercise

>We should get something like this:

This is a completely relevant
his is a completely relevant e
is is a completely relevant ex
s is a completely relevant exe
 is a completely relevant exer
is a completely relevant exerc
s a completely relevant exerci
 a completely relevant exercis
a completely relevant exercise
 completely relevant exercise
completely relevant exercise
ompletely relevant exercise
mpletely relevant exercise
pletely relevant exercise
letely relevant exercise
etely relevant exercise
tely relevant exercise
ely relevant exercise
ly relevant exercise

>**(c)** Now we will make it so that the message is repeated accross the display. You will need to concatenate another part of the message at the end of the display string. You can modify the original string to add a few spaces at the end, so that it doesn’t repeat directly and look weird (e.g. instead of getting “exerciseThis” you should get “exercise This”). Your output should now be:

This is a completely relevant
his is a completely relevant e
is is a completely relevant ex
s is a completely relevant exe
 is a completely relevant exer
is a completely relevant exerc
s a completely relevant exerci
 a completely relevant exercis
a completely relevant exercise
 completely relevant exercise
completely relevant exercise
ompletely relevant exercise
mpletely relevant exercise   T
pletely relevant exercise   Th
letely relevant exercise   Thi
etely relevant exercise   This
tely relevant exercise   This
ely relevant exercise   This i
ly relevant exercise   This is
y relevant exercise   This is
 relevant exercise   This is a
relevant exercise   This is a
elevant exercise   This is a c
levant exercise   This is a co
evant exercise   This is a com

In [ ]:
message = 'This is a completely relevant exercise'
message_2 = message + "   " +message
display_width = 30

message_length = len(message_2)
curr_start = 0

for k in range(25):
  display = []
  for i in range(curr_start, display_width):
    if i < len(message_2):
      display.append(message_2[i])
  print(''.join(display))
  curr_start = curr_start + 1
  display_width = display_width + 1

This is a completely relevant
his is a completely relevant e
is is a completely relevant ex
s is a completely relevant exe
 is a completely relevant exer
is a completely relevant exerc
s a completely relevant exerci
 a completely relevant exercis
a completely relevant exercise
 completely relevant exercise
completely relevant exercise
ompletely relevant exercise
mpletely relevant exercise   T
pletely relevant exercise   Th
letely relevant exercise   Thi
etely relevant exercise   This
tely relevant exercise   This
ely relevant exercise   This i
ly relevant exercise   This is
y relevant exercise   This is
 relevant exercise   This is a
relevant exercise   This is a
elevant exercise   This is a c
levant exercise   This is a co
evant exercise   This is a com

>**(c)** You can make it so that your terminal is “cleared” by using the “os” module and add the following command at the start of your loop:

In [ ]:
import os
os.system('cls' if os.name=='nt' else 'clear')

0

>You will see more about os.system later (if this looks complicated, it’s because this works on both Windows and Mac OS X/Linux).
You can then slow down the speed of the display by putting small pauses between each iteration of the loop. You do that by importing the module time and using sleep:

In [ ]:
import time
time.sleep(0.05)

>Remember to read on function you do not know, for example in the Standard Library online.
With those two functions, it should look like you have a real scrolling display in your Ter- minal.